@font-face {
  font-family: HarmonyOS_Sans_SC_Medium;
  src: url('./fonts/harmonyOCsansSC-font/HarmonyOS_Sans_SC_Medium.ttf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-device-width: 360px){
  body{
    background: url('./images/bg-1.png') top no-repeat;
    background-size: 100% 1024px;
    /* background-size: 90px 90px; */
  }
}

@media (min-width: 768px){
  body{
    background: url('./images/bg-1.png') bottom no-repeat fixed;
    background-size: 100% 100%;
  }
}

@media (min-width: 992px){
  body{
    background: url('./images/bg-1.png') bottom no-repeat fixed;
    background-size: 1720px auto;
  }
}

/* body{
  background: url('./images/bg-1.png') bottom no-repeat fixed;
  background-size: 1720px auto;
} */